*{
    margin: 0;
    padding: 0;
   
    background-color: honeydew;

    

}
.picformat{
    margin-top: 50px;
    width: 95%;
    height: auto;
}

.pop{
    text-align: center;

}
*:focus {
    outline: 0;
}

.document{
    height: 200px;
}
.document > *{
    height: 50%;
    font: 50px;
}

#no{
    font-size: 20px;
}

#shuufle{
    width:300px;
    height: 100px;
}
p{
    position: relative;
}
#genertae{
    margin-top: 70px;
    width:300px;
    height: 80px;
}

#shuuflewrap{
   
}

strong{
    font: red;
}
#changeee{
   width: 80%;
   height: auto;
   margin: auto;
   position: relative;
   
   font-size: 60px;
   display: block;
   text-align: center;
   margin-bottom: 10%;
}
#butt:hover{
    cursor: pointer;
    background-color: aquamarine;

}
#butt{
    width :50%;
    height: 300px ;
    width: 300px;
    border-radius: 50%;
    
    margin: auto;
    display: grid;
    justify-content: center;
    font-size: 100px;
    
    
}
#textinput{
    height: 50px;
    color: grey;
}
.wrap {
   
    display: block;
    position: relative;
    top:200px;
}
@media only screen and (max-width: 500px){

    #changeee{
        font-size: 30px;
        margin-bottom: 20%;
    }

    #butt{
        height: 200px ;
        width: 200px;
        font-size: 30px;
    }

}